{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "jest", "import"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "airbnb-base"
  ],
  "env": {
    "jest/globals": true
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "rules": {
    "@typescript-eslint/camelcase": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    // TODO: Re-enable this for everything but `*.spec.ts` files
    "import/no-extraneous-dependencies": "off",
    "no-console": "off",
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off"
  }
}
